{% extends "base.html" %}

{% block title %}Inventory - Record Sale{% endblock title %}

{% block content %}

<main class="pa4 black-80">
    <form class="measure center" action="" method="POST">
        <h1>
            Move a product
        </h1>

        {% csrf_token %}

        <fieldset id="product_form" class="ba b--transparent ph0 mh0 mb1">
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="amount">Amount</label>
                {{ form.amount }}
            </div>

            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="product">Product</label>
                {{ form.product }}
            </div>

            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="location_from">Van locatie</label>
                {{ form.location_from }}
            </div>

            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="location_to">Naar locatie</label>
                {{ form.location_to }}
            </div>

            <div class="mt3">
                <input class="b ph3 pv2 input-reset w-100 ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Save">
            </div>
        </fieldset>

        
    </form>
</main>

{% endblock %}