{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Record Move{% endblock title %}

{% block content %}

<h1 class="mt-3 text-center">Move inventory</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="" action="" method="POST">
            {% csrf_token %}
            <label class="col-form-label" for="amount">Amount *</label>
            {{ form.amount }}
            <label class="col-form-label" for="product">Product *</label>
            {{ form.product }}
            <label class="col-form-label" for="location_from">From location *</label>
            {{ form.location_from }}
            <div class="form-text">The inventory at this location will be decreased by the amount you specify.</div>
            <label class="col-form-label" for="location_to">To location *</label>
            {{ form.location_to }}
            <div class="form-text mb-3">The inventory at this location will be increased by the same amount.</div>
            <input class="btn btn-primary float-end" type="submit" value="Move &raquo;">
        </form>
    </div>
</div>

{% endblock %}