{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Record Move{% endblock title %}

{% block content %}

<main class="pa4 black-80">
    <form class="measure center" action="" method="POST">
        <h1>
            Move inventory
        </h1>

        {% csrf_token %}

        <fieldset id="product_form" class="ba b--transparent ph0 mh0 mb1">
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="amount">
                    Amount
                    <span class="red f5">*</span>
                </label>
                {{ form.amount }}
            </div>

            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="product">
                    Product
                    <span class="red f5">*</span>
                </label>
                {{ form.product }}
            </div>

            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="location_from">
                    From location
                    <span class="red f5">*</span>
                </label>
                {{ form.location_from }}
                <span class="pv2 db grey f6 lh-copy">
                    The inventory at this location will be decreased by the amount you specify.
                </span>
            </div>

            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="location_to">
                    To location
                    <span class="red f5">*</span>
                </label>
                {{ form.location_to }}
                <span class="pv2 db grey f6 lh-copy">
                    The inventory at this location will be increased by the same amount.
                </span>
            </div>

            <div class="mt3">
                <input class="no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer" type="submit" value="Save move &raquo;">
            </div>
        </fieldset>

        
    </form>
</main>

{% endblock %}