{% extends "base.html" %}

{% block title %}{{ reguest.organization.name }} - Record Sale{% endblock title %}

{% block content %}

<h1 class="mt-3 text-center">
    Add a sale
</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="" action="" method="POST">
            {% csrf_token %}

            <label class="col-form-label" for="product">Product *</label>
            {{ form.product }}

            <label class="col-form-label" for="amount">Amount *</label>
            {{ form.amount }}
            
            <input type="checkbox" id="reserved" name="reserved" class="mt-4">
            <label for="reserved">This is a reservation</label>
            <p class="form-text">A reservation is a draft transaction, not applied to the inventory</p>
            
            <label class="col-form-label" for="location_from">From location *</label>
            {{ form.location }}
            <p class="form-text">The inventory at this location will be decreased by the amount you specify.</p>

            <label class="col-form-label" for="desc">Description</label>
            {{ form.desc }}

            <input class="btn btn-primary mt-3 float-end" type="submit" value="Add this sale &raquo;">
    </div>
</div>

{% endblock %}