{% extends "base.html" %}

{% block title %}Inventory - Location{% endblock title %}

{% block content %}

    <h1>
        📍 {{ location.name|title }}
        <a class="f6 link dim ba ph3 pv2 mb2 fr dib black" href="{% url 'location_edit' location.id %}">Edit</a>
    </h1>

    <article class="cf">
        <div class="fl w-100 w-50-l">
            <h3>Description</h3>
            <p class="f4 bg-near-white br3 black-60 mv0 pv2 ph3">
                {{ location.desc }}
            </p>
        </div>
        <div class="fl w-100 w-50-l">      
            <h3>
                Inventory
            </h3>
            {% if location.inventory %}
            <div class="fl w-100 pa2">
                <div class="overflow-auto">
                    <table class="f6 w-100 center" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Amount</th>
                                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Product</th>
                            </tr>
                        </thead>
                        <tbody class="lh-copy">
                            {% for inventory in location.inventory %}
                            <tr>
                                <td class="pv3 bb b--black-20">{{ inventory.amount }}</td>
                                <td class="pv3 bb b--black-20">
                                    <a href="{% url 'product_view' inventory.product.id %}">
                                        {{ inventory.product.name }}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p>No inventory found for this product.</p>
            {% endif %}
        </div>
    </article>

{% endblock %}