
{% extends "base.html" %}

{% load extra_filters %}

{% block title %}
    {% if request.organization %}
        {{ request.organization.name }} - Notifications
    {% else %}
        Notifications
    {% endif %}
{% endblock title %}

{% block content %}

<h1 class="ph3 db cf">
    🔔 Notifications
    {% include 'utils/information.html' with id='user-notifications' content="Here you will find all notifications for this organization" %}
    <a 
        class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 dib fr" 
        href="{% url 'notifications_action' %}?action=mark_all_as_read{% if request.organization %}&organization={{ request.organization.slug }}{% endif%}">
        Mark all as read
    </a>
</h1>

<div class="mh3 overflow-auto">
    <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
        <tbody class="lh-copy">
        {% if notifications %}
            {% for notification in notifications %}
                <tr>
                    <!-- Mark as read -->
                    <td class="pl3 bb b--black-20">
                        {% if notification.unread %}
                            <a href="{% url 'user_notification_action' notification.id %}?action=mark_as_read{% if request.organization %}&organization={{ request.organization.slug }}{% endif%}" class="no-underline gold">◉</a>
                        {% endif %}
                    </td>

                    <!-- If we are not dealing with a organization page, we render a org column -->
                    {% if not request.organization %}
                    <td class="pa2 bb b--black-20">
                        {% if notification.organization %}
                            <a href="{% url 'organization_dashboard' notification.organization.slug %}">
                                {{ notification.organization }}
                            </a>
                        {% endif %}
                    </td>
                    {% endif %}
                    
                    <td class="pa2 bb b--black-20">
                        <span class="f6 fw5">{{ notification.title }}</span class="f6">
                        {% if notification.description %}
                            <span class="fw3 lh-copy db">{{ notification.description|safe }}</span>
                        {% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        
                    </td>
                    <td class="pa2 bb b--black-20">
                        <span class="fr">{{ notification.timesince }} ago</span>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="pl3 tc pa2 bb b--black-20">
                    No new notifications (<a href="{{ request.get_full_path }}?status=all">view all notifications</a>)
                </td>
            </td>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}