
{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Notifications{% endblock title %}

{% block content %}

<h1 class="ph3 db">
    🔔 Notifications
    {% if request.organization%}
    <a class="f4 black fw6 {% if notification_filter == 'unread' %}no-underline{% endif %} underline-hover" href="{% url 'organization_notifications' request.organization.slug %}">Unread</a>
    <a class="f4 black fw6 {% if notification_filter == 'all'  %}no-underline{% endif %} underline-hover" href="{% url 'organization_notifications' request.organization.slug %}?status=all">All</a>
    {% endif %}
    {% include 'utils/information.html' with id='user-notifications' content="Here you will find all notifications for this organization" %}
    <a class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 dib fr" href="#">Mark all as read</a>
</h1>

<div class="mh3 overflow-auto">
    <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
        <tbody class="lh-copy">
        {% if notifications %}
            {% for notification in notifications %}
                <tr>
                    <td class="pl3 bb b--black-20">
                        {% if notification.unread %}
                            <a href="{% url 'user_notification_action' notification.id %}?action=mark_as_read{% if request.organization %}&organization={{ request.organization.slug }}{% endif%}" class="no-underline gold">◉</a>
                        {% endif %}
                    </td>
                    <!-- If we are not dealing with a organization page, we render a org column -->
                    {% if not request.organization %}
                    <td>
                        {{ notification.organization }}    
                    </td>
                    {% endif %}
                    <td class="pa2 bb b--black-20">
                        {{ notification.verb }}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if notification.description %} - {{ notification.description }}{% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        <span class="fr">{{ notification.timesince }} ago</span>
                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="pl3 tc pa2 bb b--black-20">
                    No new notifications (<a href="{{ request.get_full_path }}?status=all">view all notifications</a>)
                </td>
            </td>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}