<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{ block "meta_tags" . }}{{end}}
    <link rel="icon" href="{{ "favicon-32x32.png" | relURL }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha256-XiJ+PedljEmPP2VaQzSzekfCZdPr0fpqmh9dY6kpsuQ=" crossorigin="anonymous" />
</head>

<body class='avenir'>
    {{ partial "header.html" . }}

    <div class="{{ if not .IsHome }}pt5{{ end }}">
    {{ if .IsHome }}
        {{ partial "intro.html"}}
    {{ end }}
    
        <main class="pa3 mw9 center cf pt">
        {{ block "main" . }}{{ end }}
        </main>
    </div>

    {{ partial "footer.html" . }}
</body>

</html>