{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Dashboard{% endblock title %}

{% block content %}

<h1 class="mt-3">
    🏠 Dashboard
    {% include 'utils/information.html' with id='dashboard' content="The dashboard provides an overview of all your inventory"%}
</h1>

<div class="row pb-4">
    <div class="col-sm">
        <h2>Quick actions</h2>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="{% url 'organization_shortcut_sales' request.organization.slug %}">
                I sold a product
            </a>
            <a class="list-group-item list-group-item-action" href="{% url 'organization_shortcut_move' request.organization.slug %}">
                I moved a product
            </a>
            <a class="list-group-item list-group-item-action" href="{% url 'organization_mutations' request.organization.slug %}">
                I want to add new inventory
            </a>
            <a class="list-group-item list-group-item-action" href="{% url 'organization_product_new' request.organization.slug %}">
                I would like to create a new product
            </a>
            <a class="list-group-item list-group-item-action" href="{% url 'organization_location_new' request.organization.slug %}">
                I would like to create a new location
            </a>
        </div>
    </div>
    <div class="col-sm">
        <h2>
            Inventory 
            <a class="text-end fs-6" href="{% url 'reports_index' request.organization.slug %}">more reports &raquo;</a>
        </h2>
        {% include 'charts/products_mutations.html' with data=product_mutations wrapper='mutations' debug=False %}
    </div>
    <div class="col-sm">
        <h2>
            Last transactions
            <a class="text-end fs-6" href="{% url 'organization_mutations' request.organization.slug %}">all mutations &raquo;</a>
        </h2>
        <div class="list-group">
            {% if mutations %}
                {% for mutation in mutations %}
                <li class="list-group-item">
                    <strong>
                        {% if mutation.operation == 'add' %}+{% endif %}{{ mutation.amount }}
                    </strong>
                    {{ mutation.product.name }} - 
                    <i>{{ mutation.location }}</i>
                    {{ mutation.created|date:"Y-m-d" }}</span>
                </li>
                {% endfor %}
                {% else %}
                <li class="ph3 pv3 b--light-silver">No transactions found.</li>
            {% endif %}
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm">
        <h2>
            Notifications
            <a class="text-end fs-6" href="{% url 'organization_notifications' request.organization.slug %}">see more notifications &raquo;</a>
        </h2>
        <table class="table border">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th></th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    <tr>
                        <td class="pl3 bb b--black-20">
                            {% if notification.unread %}
                                <a class="text-decoration-none" href="{% url 'user_notification_action' notification.id %}?action=mark_as_read{% if request.organization %}&organization={{ request.organization.slug }}{% endif%}">◉</a>
                            {% endif %}
                        </td>
                        <td>{{ notification.title }}</td>
                        <td>{% if notification.description %} - {{ notification.description }}{% endif %}</td>
                        <td>{{ notification.created|date:"d-m-Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <div class="col-sm">
        <h2>Reservations</h2>
        <table class="table border">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.created|date:"Y-m-d h:i:s" }}</td>
                    <td>{{ reservation.amount }}</td>
                    <td>{{ reservation.desc }}</td>
                    <td>
                        <a href="{% url 'organization_reservation_action' request.organization.slug reservation.id %}?action=confirm">Confirm</a>
                        or 
                        <a href="{% url 'organization_reservation_action' request.organization.slug reservation.id %}?action=cancel">Cancel</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}