{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Inventory{% endblock title %}

{% block content %}

<h1 class="ph3 db cf">
    📋 Inventory 
    <a href="{% url 'organization_inventory_location' request.organization.slug %}" class="f4 black fw6 no-underline underline-hover">Locations</a>
    <a href="{% url 'organization_inventory_product' request.organization.slug %}" class="f4 black fw6 underline-hover">Products</a>
    {% include 'utils/information.html' with id='inventory_location' content="This is an overview of your inventory per product"%}
</h1>

<div class="mh3 overflow-auto">
    <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
        <thead>
                <tr>
                <th class="fw6 bb b--black-20 tl pa3">Product</th>
                <th class="fw6 bb b--black-20 tl pa3">Inventory</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            {% regroup inventories|dictsort:"product.name" by product as product_inventory %}
        
            {% if product_inventory %}
            {% for inventory in product_inventory %}
            <tr>
                <td class="pl3 bb b--black-20">
                    <a href="{% url 'organization_product_view' request.organization.slug inventory.grouper.id %}">
                        {{ inventory.grouper.name }}
                    </a>
                </td>   
                <td class="pa2 bb b--black-20">
                    <ul class="mv2">
                    {% for inventory in inventory.list %}
                        <li>
                            {{ inventory.amount }} at
                            <a href="{% url 'organization_location_view' request.organization.slug inventory.location.id %}">{{ inventory.location.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="pv2 pl3 bb b--black-20" colspan="5">
                        <p>No inventory found. Inventory requires a <a href="{% url 'organization_product_new' request.organization.slug %}">product</a> or <a href="{% url 'organization_location_new' request.organization.slug %}">location</a>.</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}