{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Dashboard{% endblock title %}

{% block content %}

<h1 class="ph3 db">
    📍 Locations
    {% include 'utils/information.html' with id='location' content="This page lists all your locations, you can add or edit the locations here."%}
    <a class="f6 link dim ba ph3 pv2 dib black fr" href="{% url 'organization_location_new' request.organization.slug %}">Add a location</a>
</h1>

<div class="mh3 overflow-auto">
    <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
        <thead>
            <tr>
                <th class="fw6 bb b--black-20 tl pa3">Name</th>
                <th class="fw6 bb b--black-20 tl pa2">Description</th>
                <th class="fw6 bb b--black-20 tl pa2">Shortcuts</th>
                <th class="fw6 bb b--black-20 tl pa2" width="400px">Actions</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            {% if locations %}
            {% for location in locations %}
                <tr>
                    <td class="pl3 bb b--black-20">
                        <a href="{% url 'organization_location_view' request.organization.slug location.id %}">{{ location.name }}</a>
                    </td>
                    <td class="pa2 bb b--black-20">
                        {{ location.desc }}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if location.inventory %}
                            <a class="f6 link dim ba ph3 pv2 dib black" href="{% url 'organization_shortcut_move' request.organization.slug %}?location_from={{location.id}}">
                                Move
                            </a>
                            <a class="f6 link dim ba ph3 pv2 dib black" href="{% url 'organization_shortcut_sales' request.organization.slug %}?location={{location.id}}">
                                Sale
                            </a>
                        {% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        <a class="f6 link dim ba ph3 pv2 dib black" href="{% url 'organization_location_edit' request.organization.slug location.id %}">
                            Edit
                        </a>
                        <a class="f6 link dim ba ph3 pv2 dib black" href="{% url 'organization_location_view' request.organization.slug location.id %}">
                            Details
                        </a>
                        <!-- Django doesn't support DELETE requests -->
                        <form method="POST" action="{% url 'organization_location_edit' request.organization.slug location.id %}" class="dib">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" value="Delete" class="ba hover-bg-red b--black lh-copy f6 link bg-transparent ph3 pv2 pointer dib black input-reset">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="pv2 pl3 bb b--black-20" colspan="5">
                        <p class="lh-copy">No location found. Want to <a href="{% url 'location_new' request.organization.slug %}">add a location</a>?</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% include 'utils/pagination.html' with paginator=locations  %}

{% endblock %}