{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Dashboard{% endblock title %}

{% block content %}

<h1 class="mt-3">
    📍 Locations
    {% include 'utils/information.html' with id='location' content="This page lists all your locations, you can add or edit the locations here."%}
    <a class="btn btn-primary float-end" href="{% url 'organization_location_new' request.organization.slug %}">Add a location</a>
</h1>

{% include "utils/table_operations.html" %}

<table class="table border" cellspacing="0">
    <thead>
        <tr>
            <th style="min-width: 100px;">
                Name
                {% include "utils/order_by.html" with field='name' %}
            </th>
            <th style="min-width: 150px;">
                Date (modified)
                {% include "utils/order_by.html" with field='modified' %}
            </th>
            <th style="min-width: 150px;">Description & tags</th>
            <th style="min-width: 150px;">Shortcuts</th>
            <th style="min-width: 200px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if locations %}
        {% for location in locations %}
            <tr>
                <td>
                    <a href="{% url 'organization_location_view' request.organization.slug location.id %}">{{ location.name }}</a>
                </td>
                <td>
                    {{ location.modified|date:"Y-m-d"}}
                </td>
                <td>
                    {{ location.desc }}
                    <ul>
                        {% include "utils/tags.html" with tags=location.tags %}
                    </ul>
                </td>
                <td>
                    {% if location.inventory %}
                        <a class="btn btn-sm btn-secondary" href="{% url 'organization_shortcut_move' request.organization.slug %}?location_from={{location.id}}">
                            Move
                        </a>
                        <a class="btn btn-sm btn-dark" href="{% url 'organization_shortcut_sales' request.organization.slug %}?location={{location.id}}">
                            Sale
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-info" href="{% url 'organization_location_view' request.organization.slug location.id %}">
                        Details
                    </a>
                    <a class="btn btn-sm btn-warning" href="{% url 'organization_location_edit' request.organization.slug location.id %}">
                        Edit
                    </a>
                    <!-- Django doesn't support DELETE requests -->
                    <form class="d-inline-block" method="POST" action="{% url 'organization_location_edit' request.organization.slug location.id %}" class="dib">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">
                    <p>No location found. Want to <a href="{% url 'organization_location_new' request.organization.slug %}">add a location</a>?</p>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% include 'utils/pagination.html' with paginator=locations  %}

{% endblock %}