{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Transactions{% endblock title %}

{% block content %}

<h1 class="mt-3">
    🧮 Transactions
    {% include 'utils/information.html' with id='location' content="This is the entire transaction history of your inventory"%}
</h1>

<table class="table border" cellspacing="0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Product</th>
            <th>Location</th>
            <th colspan="2">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form method="POST" id="mutation_form" action="{% url 'organization_mutation_insert' request.organization.slug %}">
                <td>
                    {% now "Y-m-d" %}
                    {% csrf_token %}
                </td>
                <td>
                    {{ form.amount }}
                </df>
                <td>
                    {{ form.product }}
                </td>
                <td>
                    {{ form.location }}
                </td>
                <td>
                    {{ form.desc }}
                </td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Save transaction">
                </td>
            </form>
        </tr>
        
        {% if mutations %}
        {% for mutation in mutations %}
            <tr>
                <td>
                    {{ mutation.created|date:"Y-m-d h:i:s" }}
                </td>
                <td>
                    {% if mutation.operation == 'add' %}+{% endif %}
                    {{ mutation.amount }}
                    {% if mutation.operation == 'reserved' %}(reserved){% endif %}
                </td>
                <td>
                    <a href="{% url 'organization_product_view' request.organization.slug mutation.product.id %}">{{ mutation.product.name }}</a>
                </td>
                <td>
                    <a href="{% url 'organization_location_view' request.organization.slug mutation.location.id %}">{{ mutation.location.name }}</a>
                </td>
                <td>
                    {{ mutation.desc }}
                </td>
                <td>
                    <img class="avatar rounded" width="30px" alt="avatar" src="{{ mutation.user.image.url }}" alt="">
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">
                    <p>No transactions found. Add one with the form above.</p>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% include 'utils/pagination.html' with paginator=mutations  %}
<style>
#id_desc{
    display: inline-block;
    height: 37px;
    font-family: inherit;
    font-size: 100%;
    line-height: 150%;
    /* margin-top: 5px; */
    /* margin-bottom: -4px; */
}
</style>
{% endblock %}