{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Products{% endblock title %}

{% block content %}

<h1 class="mt-3">
    📦 Products
    {% include 'utils/information.html' with id='products' content="View all of your products here, add or edit a product, move it around or record a sale"%}
    <a class="float-end btn btn-primary" href="{% url 'organization_product_new' request.organization.slug %}">Add a product</a>
</h1>


    
    {% include "utils/table_operations.html" %}

    <table class="table border" cellspacing="0">
        <thead>
            <tr>
                <th style="min-width: 100px;">
                    Name
                    {% include "utils/order_by.html" with field='name' %}
                </th>
                <th style="min-width: 160px;">
                    Date (modified)
                    {% include "utils/order_by.html" with field='modified' %}
                </th>
                <th style="min-width: 150px;">
                    Description & tags
                </th>
                <th style="min-width: 160px;">
                    Total inventory
                    {% include "utils/order_by.html" with field='inventory' %}
                </th>
                <th style="min-width: 150px;">Shortcuts</th>
                <th style="min-width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if products %}
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{% url 'organization_product_view' request.organization.slug product.id %}">{{ product.name }}</a>
                    </td>
                    <td>
                        {{ product.modified|date:"Y-m-d"}}
                    </td>
                    <td>
                        {{ product.desc }}
                        <ul>
                            {% include "utils/tags.html" with tags=product.tags %}
                        </ul>
                    </td>
                    <td>
                        {% if product.inventory_count %}
                            {{ product.inventory_count }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if product.inventory_count %}
                            <a class="btn btn-sm btn-secondary" href="{% url 'organization_shortcut_move' request.organization.slug %}?product={{product.id}}">
                                Move
                            </a>
                            <a class="btn btn-sm btn-dark" href="{% url 'organization_shortcut_sales' request.organization.slug %}?product={{product.id}}">
                                Sale
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'organization_product_view' request.organization.slug product.id %}">
                            Details
                        </a>
                        <a class="btn btn-sm btn-warning" href="{% url 'organization_product_edit' request.organization.slug product.id %}">
                            Edit
                        </a>
                        <!-- Django doesn't support DELETE requests -->
                        <form class="d-inline-block" method="POST" action="{% url 'organization_product_edit' request.organization.slug product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="-20" colspan="5">
                        <p>No products found. Want to <a href="{% url 'organization_product_new' request.organization.slug %}">add a product</a>?</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% include 'utils/pagination.html' with paginator=products  %}

{% endblock %}