{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Products{% endblock title %}

{% block content %}

<h1 class="ph3 db">
    📦 Products
    {% include 'utils/information.html' with id='products' content="View all of your products here, add or edit a product, move it around or record a sale"%}
    <a class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 dib fr-ns" href="{% url 'organization_product_new' request.organization.slug %}">Add a product</a>
</h1>


<div class="mh3 overflow-auto cf">
    <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
        <thead>
            <tr>
                <th class="fw6 bb b--black-20 tl pa3">
                    Name
                    {% include "utils/order_by.html" with field='name' %}
                </th>
                <th class="fw6 bb b--black-20 tl pa2">Description</th>
                <th class="fw6 bb b--black-20 tl pa2">
                    Total inventory
                    {% include "utils/order_by.html" with field='inventory' %}
                </th>
                <th class="fw6 bb b--black-20 tl pa2" style="min-width: 150px;">Shortcuts</th>
                <th class="fw6 bb b--black-20 tl pa2" style="min-width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            {% if products %}
            {% for product in products %}
                <tr>
                    <td class="pl3 bb b--black-20">
                        <a href="{% url 'organization_product_view' request.organization.slug product.id %}">{{ product.name }}</a>
                    </td>
                    <td class="pa2 bb b--black-20">
                        {{ product.desc }}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if product.inventory_total %}
                            {{ product.inventory_total }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if product.inventory_total %}
                            <a class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 dib mr1" href="{% url 'organization_shortcut_move' request.organization.slug %}?product={{product.id}}">
                                Move
                            </a>
                            <a class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 dib mr1" href="{% url 'organization_shortcut_sales' request.organization.slug %}?product={{product.id}}">
                                Sale
                            </a>
                        {% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        <a class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 dib mr1" href="{% url 'organization_product_view' request.organization.slug product.id %}">
                            Details
                        </a>
                        <a class="no-underline f6 fw3 pa2 bg-animate bg-yellow hover-bg-gold black br2 dib mr1" href="{% url 'organization_product_edit' request.organization.slug product.id %}">
                            Edit
                        </a>
                        <!-- Django doesn't support DELETE requests -->
                        <form method="POST" action="{% url 'organization_product_edit' request.organization.slug product.id %}" class="dib">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" value="Delete" class="b--none br2 hover-bg-dark-red lh-copy f6 link bg-red pa2 pointer dib white input-reset">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="pv2 pl3 bb b--black-20" colspan="5">
                        <p>No products found. Want to <a href="{% url 'organization_product_new' request.organization.slug %}">add a product</a>?</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% include 'utils/pagination.html' with paginator=products  %}

{% endblock %}