
{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Search{% endblock title %}

{% block content %}

<h1 class="ph3 db">
    🔍 Search
    {% include 'utils/information.html' with id='search' content="You can search for users, mutations, product & locations"%}
</h1>

<div class="mh3 overflow-auto">
    <form action="" method="GET">
        <!-- The onfocus part is a hacky way of repositioning the cursor to the end.. -->
        <input 
            value="{{ q }}" 
            type="text" 
            onfocus="var val=this.value; this.value=''; this.value=val;"
            name="q" 
            id="q" 
            class="lh-copy br2 outline-transparent pa2 input-reset ba bg-transparent w-100" 
            placeholder="Searchterms.."/>
    </form>
    {% if results %}
        {% for result in results%}
            <article class="br2 ba dark-gray b--black-10 mv4 w-100 w-50-m w-50-l center">
                <div class="pa2 ph3-ns pb3-ns">
                    <div class="dt w-100 mt1">
                        <div class="dtc">
                            <h1 class="f5 f4-ns mv0">
                                {% if result.name %}
                                    {% if result.url %}
                                    <a href="{{ result.url }}">
                                        {{ result.name }}
                                    </a>
                                    {% elif result.name %}
                                        {{ result.name }}  
                                    {% elif result.email %}
                                        {{ result.email }}  
                                    {% endif %}
                                {% else %}
                                    {{ result }}
                                {% endif%}
                            </h1>
                        </div>
                        <div class="dtc tr">
                            <h2 class="f5 mv0">{{ result|to_class_name }}</h2>
                        </div>
                    </div>
                    <p class="f6 lh-copy measure mt2 mid-gray">
                        {{ result.desc }}
                    </p>
                </div>
            </article>
        {% endfor %}
    {% elif not results and q %}
        <p>No results found..</p>
    {% endif %}
</div>

<!-- Set focus when page is loaded on search field -->
<script>
document.getElementById("q").focus();
</script>

{% endblock %}