
{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Search{% endblock title %}

{% block content %}

<h1 class="mt-3">
    🔍 Search
    {% include 'utils/information.html' with id='search' content="You can search for users, mutations, product & locations"%}
</h1>

<div>
    <form class="mb-3" action="" method="GET">
        <!-- The onfocus part is a hacky way of repositioning the cursor to the end.. -->
        <input 
            value="{{ q }}" 
            type="text" 
            onfocus="var val=this.value; this.value=''; this.value=val;"
            name="q" 
            id="q" 
            class="form-control" 
            placeholder="Search.."/>
    </form>
    {% if results %}
        {% for result in results%}
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title">
                        {% if result.name %}
                            {% if result.url %}
                            <a href="{{ result.url }}">
                                {{ result.name|title }}
                            </a>
                            {% elif result.name %}
                                {{ result.name|title }}  
                            {% elif result.email %}
                                {{ result.email }}  
                            {% endif %}
                        {% else %}
                            {{ result }}
                        {% endif%}
                    </h1>
                    <h4 class="card-subtitle">{{ result|to_class_name }}</h4>
                    <p class="card-text">
                        {{ result.desc }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% elif not results and q %}
        <p>No results found..</p>
    {% endif %}
</div>

<!-- Set focus when page is loaded on search field -->
<script>
    document.getElementById("q").focus();
</script>

{% endblock %}