[submodule "hugo/themes/ananke"]
	path = hugo/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo/themes/hugo-serif-theme"]
	path = /hugo-serif-theme
	url = https://github.com/JugglerX/hugo-serif-theme/
