appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
black==19.3b0
certifi==2019.9.11
Click==7.0
coverage==4.5.4
Django==2.2.5
django-model-utils==3.2.0
importlib-metadata==0.23
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.0
py==1.8.0
pyparsing==2.4.2
pytest==5.1.3
pytest-cov==2.7.1
pytest-django==3.5.1
python-decouple==3.1
pytz==2019.2
sentry-sdk==0.12.2
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
urllib3==1.25.6
wcwidth==0.1.7
zipp==0.6.0
