{% include "base_header.html" %}

{% if form.errors %}
    {% for key, value in form.errors.items %}
    <div class="flex items-center justify-center pa4 bg-washed-red dark-red">
        <span class="lh-title ml3">{{ value }}</span>
    </div>
    {% endfor %}
{% endif %}

<main class="pa4 black-80">
    <form class="measure center" method="POST">

        <!-- Logo -->
        {% if global_preferences.logo %}
        <div class="tc">
            <img class="h3" src="{{ global_preferences.logo.url }}" alt="">
        </div>
        {% endif %}
        
        <!-- Organization name -->
        <h1 class="tc">
            {% if global_preferences.name %}
                {{ global_preferences.name }}
            {% else %}
                Organization.supply
            {% endif %}
        </h1>

        {% csrf_token %}
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">Sign In</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">Email</label>
                <input class="pa2 input-reset ba w-100" type="text" name="username"  id="username">
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Password</label>
                <input class="b pa2 input-reset ba w-100" type="password" name="password"  id="password">
            </div>
        </fieldset>
        <div class="w-100">
            <input class="fr b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign in">
            <a href="{% url 'password_reset' %}" class="mv2 fl f6 link dim black">Forgot your password?</a>
        </div>
    </form>
</main>

{% include "base_footer.html" %}
