<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Organization.supply - Reset your password{% endblock %}

{% block content %}

{% if validlink %}
    <main class="pa4 black-80">
        <form class="measure center" method="POST">
            {% csrf_token %}
            <legend class="f4 fw6 ph0 mh0">Reset Password</legend>
            <p>Use the form below to reset your password. Be sure it is not familiar to previous password, has enough length and different characters in it.</p>
            <fieldset id="reset_password" class="ba b--transparent ph0 mh0">
                <label class="db fw6 lh-copy f6" for="id_new_password1">New Password</label>
                <input class="pa2 input-reset ba bg-transparent w-100" type="password" name="new_password1" required="" id="id_new_password1">
                <label class="db fw6 lh-copy f6" for="id_new_password2">Confirm Password</label>
                <input class="pa2 input-reset ba bg-transparent w-100" type="password" name="new_password2" required="" id="id_new_password2">
            </fieldset>
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Change my password">
        </form>
    </main>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}