<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Organization.supply - Reset your password{% endblock %}

{% block content %}

{% if validlink %}
    <main class="pa4 black-80">
            <form class="measure center b--light-silver br2 ba pa3 bg-white" method="POST">    
            {% csrf_token %}
            <h2>Reset Password</h2>
            <p class="lh-copy">Use the form below to reset your password. Be sure it is not familiar to previous password, has enough length and different characters in it.</p>
            <div class="mt-3">
                <label class="db fw6 lh-copy f6" for="id_new_password1">New Password</label>
                <input class="pa2 input-reset ba bg-transparent w-100" type="password" name="new_password1" required="" id="id_new_password1">
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="id_new_password2">Confirm Password</label>
                <input class="pa2 input-reset ba bg-transparent w-100" type="password" name="new_password2" required="" id="id_new_password2">
            </div>
            <div class="w-100 dib">
                <input class="fr b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Change my password">
            </div>
        </form>
    </main>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}