<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<main class="pa4 black-80">
    <form class="measure center" method="POST">
        {% csrf_token %}
        <legend class="f4 fw6 ph0 mh0">Reset Password</legend>

        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <fieldset id="reset_password" class="ba b--transparent ph0 mh0">
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email">Email</label>
                <input class="pa2 input-reset ba bg-transparent w-100" type="text" name="email" id="email">
            </div>    
        </fieldset>
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Reset Password">
    </form>
</main>
{% endblock %}