{% load static %}

{% include 'base_header.html' %}

<body>
  
<main class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="text-center fs-5 fw-bold py-4">
        <img src="{% static 'logo/organization-supply-logo-no-border.png' %}" alt="Organization.supply" style="width: 20px; margin-top: -4px; margin-right: 10px; "/>
        Organization.supply
      </h1>
      
      {% if form.errors %}
        {% for key, value in form.errors.items %}
        <div class="alert alert-danger">
          {{ value }}
        </div>
        {% endfor %}
      {% endif %}
    
      <form class="border rounded-2 p-2 clearfix" method="POST" autocomplete="on">        

        <h2>Reset Password</h2>
        
        {% csrf_token %}

        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <div class="mb-3">
          <label for="email-address" class="col-form-label">Email</label>
          <input class="form-control" type="text" name="email" id="email">
        </div>

        <a href="{% url 'login' %}" class="btn btn-secondary">&laquo; Login</a>
        <input class="btn btn-primary float-end" type="submit" value="Reset Password">
    </form>
  </div>
</div>
</main>

{% include "base_footer.html" %}