<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}

{% if validlink %}
    <main class="pa4 black-80">
        <form class="measure center" method="POST">
            {% csrf_token %}
            <legend class="f4 fw6 ph0 mh0">Reset Password</legend>
            <fieldset id="reset_password" class="ba b--transparent ph0 mh0">
            </fieldset>
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Change my password">
        </form>
    </main>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}