{% extends 'base.html' %}

{% load static %}

{% block title %}Organization.supply - Join{% endblock %}

{% block content %}

    <h1 class="mt-3">You're invited!</h1>

    <form class="border" method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="col-form-label" for="email-address">Email*</label>            
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="col-form-label" for="password">Password*</label>            
            {{ form.password }}
        </div>

        <div class="mb-3">
            <label class="col-form-label" for="password_confirm">Password (confirmation)*</label>            
            {{ form.password_confirm }}
        </div>
    
        <input class="btn btn-primary" type="submit" value="Accept invite">
    </form>
</main>
{% endblock %}