{% include "base_header.html" %}

{% if form.errors %}
    {% for key, value in form.errors.items %}
    <div class="flex items-center justify-center pa4 bg-washed-red dark-red">
        <span class="lh-title ml3">{{ value }}</span>
    </div>
    {% endfor %}
{% endif %}

{% block content %}
<main class="pa4 black-80">
    <form class="measure center" method="POST">

        <!-- Organization name -->
        <h1 class="tc">
            {% if request.organization and request.organization.name %}
                {{ request.organization.name }}
            {% else %}
                Organization.supply
            {% endif %}
        </h1>

        {% csrf_token %}
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">Sign up</legend>
            <div class="mt3">
                <div class="mt3">
                    <label class="db fw6 lh-copy f6" for="email-address">Email</label>
                    <input class="pa2 input-reset ba w-100" type="text" name="email" id="email">
                </div>
                <div class="mv3">
                    <label class="db fw6 lh-copy f6" for="password">Password</label>
                    <input class="b pa2 input-reset ba w-100" type="password" name="password" id="password">
                </div>
            </div>
        </fieldset>
        <div class="w-100">
            <input class="fr b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign up">
            <a href="{% url 'login' %}" class="mv2 fl f6 link dim black">Login</a>
        </div>
    </form>
</main>
{% endblock %}