{% load i18n %}
{% load cookie_consent_tags %}


<div class="cookie-group">

    <h3>
        {{ cookie_group.name }}
    </h3>
    <div>
        {% if not cookie_group.is_required %}
            {% if request|cookie_group_accepted:cookie_group.varname %}
                <div class="btn disabled btn-success">Accepted</div>
            {% else %}
                <div class="btn disabled btn-danger">Declined</div>
            {% endif %}

            
            {% if request|cookie_group_declined:cookie_group.varname %}
                <form class="d-inline cookie-consent-accept" action="{% url "cookie_consent_accept" cookie_group.varname %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Accept Cookies">
                </form>
            {% endif %}

            {% if request|cookie_group_accepted:cookie_group.varname %}
                <form class="d-inline cookie-consent-decline" action="{% url "cookie_consent_decline" cookie_group.varname %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="d-inline btn btn-danger" value="Decline Cookies">
                </form>
            {% endif %}

        {% endif %}
    </div>
</div>