{% extends "base.html" %}

{% block title %}Organization.supply - Security{% endblock title %}

{% block content %}

<h1 class="mt-3">Organization.supply - Security</h1>

<h2>We protect your data.</h2>

<p>
    All data is written to multiple disks instantly, backed up daily, and stored in multiple locations. Files that our customers upload are stored on servers that use modern techniques to remove bottlenecks and points of failure.
</p>

<h2>Your data is sent using HTTPS.</h2>

<p>
    Whenever your data is in transit between you and us, everything is encrypted, and sent using HTTPS. Any files which you upload to us are stored and are encrypted at rest. Project data, messages, text documents and todos aren't encrypted at rest — they are active in our database.
</p>

{% endblock %}