{% extends "base.html" %}

{% block title %}Organization.supply - Subprocessors{% endblock title %}

{% block content %}

<article class="ph3 lh-copy">

    <h1 class="db">
        Organization.supply Subprocessors
    </h1>

    <p>
        Organization.supply uses third party subprocessors, such as cloud computing providers and customer support software, to provide our services. We enter into GDPR-compliant data processing agreements with each subprocessor, extending GDPR safeguards everywhere personal data is processed.
    </p>
    
    <h4>Subprocessors located in the United States:</h4>

    <ul>
        <li><a href="https://sentry.io/">Sentry</a>. Error reporting software.</li>
        <li><a href="https://zapier.com/home">Zapier</a>. Software integration service.</li>
        <li><a href="https://www.digitalocean.com/">Digital Ocean</a>. Cloud services provider</li>
        <li><a href="https://sendgrid.com/">Sendgrid</a>. Email service</li>
    </ul>

</article>

{% endblock %}
