{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Products{% endblock title %}

{% block content %}

<main class="pa4 black-80">
    <form class="measure center" action="" method="POST"> 
        <h1>
            Add a product
        </h1>
        
        {% csrf_token %}

        <fieldset id="product_form" class="ba b--transparent ph0 mh0">
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">
                    Name
                    <span class="red f5">*</span>
                </label>
                {{ form.name }}
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Description</label>
                {{ form.desc }}
            </div>
        </fieldset>

        <div class="">
            <input class="no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer" type="submit" value="Save product &raquo;">
        </div>
    </form>
</main>

{% endblock %}