{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Products{% endblock title %}

{% block content %}

<h1 class="mt-3 text-center">
    Create a new product
</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form class="mt-3" action="" method="POST"> 
            {% csrf_token %}
            <label class="col-form-label" for="name">Name *</label>
            {{ form.name }}
            <label class="col-form-label" for="desc">Description</label>
            {{ form.desc }}
            <p class="text-muted">
                You will be able to add additional data like an image, tags, sales and cost price to the product once it is created.
            </p>
            <input class="btn btn-primary float-end" type="submit" value="Create product &raquo;">
        </form>
    </div>
</div>

{% endblock %}