{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Products - {{ product.name }}{% endblock title %}

{% block content %}

<h1 class="mt-3">
    📦 <a class="text-decoration-none" href="{% url 'organization_products' request.organization.slug %}">Products</a>
        / {{ product.name|title }}
        {% include 'utils/information.html' with id='product_view' content="An overview all about a single product"%}
        <a class="float-end btn btn-warning" href="{% url 'organization_product_edit' request.organization.slug product.id %}">Edit Product</a>
</h1>

<div class="row">
    <div class="col-md-6">
        <h3>
            Current Inventory
        </h3>
        {% if inventories %}
            <table class="table border" cellspacing="0">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory in inventories %}
                    <tr>
                        {{ total|add:inventory.amount }}
                        <td>{{ inventory.amount }}</td>
                        <td>
                            <a href="{% url 'organization_location_view' request.organization.slug    inventory.location.id %}">
                                {{ inventory.location.name }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            {{ product_total.amount__sum }}
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>          
                </tfoot>
            </table>
        {% else %}
        <p>No inventory found for this product.</p>
        {% endif %}

        <h3>Transactions</h3>

        <table cellspacing="0">
            <tr>
                <form method="POST" id="mutation_form" action="{% url 'organization_mutation_insert' request.organization.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <td>
                        {{ mutation_form.amount }}
                    </td>
                    <td>
                        {{ mutation_form.location }}
                    </td>
                    <td>
                        {{ mutation_form.desc }}
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Save transaction">
                    </td>
                </form>
            </tr>
        </table>
                
        <table class="table border" cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Location</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                {% for mutation in mutations %}
                <tr>
                    <td>
                        {{ mutation.created|date:"Y-m-d" }}
                    </td>
                    <td>
                        {% if mutation.operation == 'remove' %}
                            {{ mutation.amount }} 
                        {% elif mutation.operation == 'reserved' %}    
                            {{ mutation.amount }} (reserved)
                        {% else %}
                            +{{ mutation.amount }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'organization_location_view' request.organization.slug    mutation.location.id %}">{{ mutation.location.name }}</a>
                    </td>
                    <td>
                        {% if mutation.user.name %}
                            {{ mutation.user.name }}
                        {% else %}
                            {{ mutation.user.email }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if product.mutations %}
        <div class="border">
            {% include 'charts/product_mutations.html' with product=product wrapper="product" debug=False %}
        </div>                
        {% endif %}

    </div>
    <div class="col-md-6">
        {% if product.desc %}
        <h3>Product Description</h3>
        <p>{{ product.desc }}</>
        <img width="100%" src="{{ product.image.url }}" alt="Image of {{ product.name }}">
        {% endif %}
    </div>
</div>
                
<style>
#id_desc{
    display: inline-block;
    height: 37px;
    font-family: inherit;
    font-size: 100%;
    line-height: 150%;
    margin-top: 6px;
    /* margin-bottom: -4px; */
}
#id_location{
    min-width: 50px;
}
</style>
{% endblock %}