{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Products - {{ product.name }}{% endblock title %}

{% block content %}

    <h1 class="mh3">
        📦 <a class="no-underline gray link underline-hover" href="{% url 'organization_products' request.organization.slug %}">Products</a>
            <span class="gray">/</span> {{ product.name|title }}
        <a 
            class="no-underline f6 fw3 pa2 bg-animate bg-yellow hover-bg-gold black br2 dib fr" 
            href="{% url 'organization_product_edit' request.organization.slug product.id %}">Edit Product</a>

        {% include 'utils/information.html' with id='product_view' content="An overview all about a single product"%}
    </h1>

    <article class="mh3 cf">
        <div class="fl w-100 w-50-l pr2">
            {% if product.desc %}

            <h3>Description</h3>
            <p class="lh-copy">{{ product.desc }}</p>
            <img class="dib br2" src="{{ product.image.url }}" alt="Image of {{ product.name }}">
            
            {% endif %}
            <h3>
                Current Inventory
            </h3>
            {% if inventories %}
            <div class="fl w-100">
                <div class="overflow-auto">
                        <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="fw6 bb b--black-20 tl pa2 bg-white">Amount</th>
                                <th class="fw6 bb b--black-20 tl pa2 bg-white">Location</th>
                            </tr>
                        </thead>
                        <tbody class="lh-copy">
                            {% for inventory in inventories %}
                            <tr>
                                {{ total|add:inventory.amount }}
                                <td class="pa2 bb b--black-20">{{ inventory.amount }}</td>
                                <td class="pa2 bb b--black-20">
                                    <a href="{% url 'organization_location_view' request.organization.slug    inventory.location.id %}">
                                        {{ inventory.location.name }}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="fw6 pa2 bb b--black-20 tl bg-white">
                                    {{ product_total.amount__sum }}
                                </th>
                                <th class="fw6 pa2 bb b--black-20 tl bg-white">
                                    Total
                                </th>
                            </tr>          
                        </tfoot>
                    </table>
                </div>
            </div>
            {% else %}
            <p>No inventory found for this product.</p>
            {% endif %}
        </div>
        <div class="fl w-100 w-50-l"> 
                <h3>Transaction history</h3>
                <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="fw6 bb b--black-20 tl pa2 bg-white">Date</th>
                            <th class="fw6 bb b--black-20 tl pa2 bg-white">Amount</th>
                            <th class="fw6 bb b--black-20 tl pa2 bg-white">Location</th>
                            <th class="fw6 bb b--black-20 tl pa2 bg-white">User</th>
                        </tr>
                    </thead>
                    <tbody class="lh-copy">
                        {% for mutation in mutations %}
                        <tr>
                            <td class="pa2 bb b--black-20">
                                {{ mutation.created|date:"Y-m-d" }}
                            </td>
                            <td class="pa2 bb b--black-20">
                                {% if mutation.operation == 'remove' %}
                                    {{ mutation.amount }} 
                                {% elif mutation.operation == 'reserved' %}    
                                    {{ mutation.amount }} (reserved)
                                {% else %}
                                    +{{ mutation.amount }}
                                {% endif %}
                            </td>
                            <td class="pa2 bb b--black-20">
                                <a href="{% url 'organization_location_view' request.organization.slug    mutation.location.id %}">{{ mutation.location.name }}</a>
                            </td>
                            <td class="pa2 bb b--black-20">
                                {% if mutation.user.name %}
                                    {{ mutation.user.name }}
                                {% else %}
                                    {{ mutation.user.email }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </article>
        
{% endblock %}