{% if debug %}
<pre>
    {{  mutations }}
</pre>
{% endif %}

<canvas id="{{ wrapper }}"></canvas>

<script>

var ctx = document.getElementById('{{ wrapper }}').getContext('2d');
var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {% for product, product_mutations in mutations.items %}
                {
                    label: '{{ product }}',
                    data: [
                        {% for point in product_mutations %}
                        {
                            x: "{{ point.created|date:"Y-m-d" }}",
                            y: {{ point.cumsum }}
                        },
                        {% endfor %}
                    ]
                },
                {% endfor %}
            ]
        },

        // Configuration options go here
        options: {
            responsive: true,
            scales:     {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'YYYY-MM-DD',
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
            }
        }
    });

</script>