{{ define "main" }}
    hello?
    
    {{ $features := where (where .Site.RegularPages "Type" "features") ".Params.featured" true }}
        {{if gt (len $features) 0}}
        <div class="container pt-6 pb-md-5">
            <div class="row justify-content-start">
                {{ $features := where (where .Site.RegularPages "Type" "features") ".Params.featured" true }}
                {{ range first 6 (sort $features ".Params.weight") }}
                <div class="col-12 col-md-4 mb-1">
                {{ .Render "summary" }}
                </div>
                {{ end }}
                <div class="col-12 text-center">
                <a class="button button-primary" href="{{ "features/" | relURL }}">View All Features</a>
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}