{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Settings{% endblock title %}

{% block content %}

<!-- Include stripe javascript for payment -->
<script src="https://js.stripe.com/v3/"></script>

<h1 class="mt-3">
    {{ request.organization.name }}
    <small class="text-muted">🧾 Billing</small>
</h1>
{% include 'organization/settings/settings_nav.html' %}

<h2>Billing</h2>

<div class="row justify-content-center">

        <article class="col-md-4 {{ request.organization|get_active_plan_classes:'free'}}">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">Free Plan</h1>
                <p>Thanks for being around!</p>
                {% if request.organization.subscription_type != "free" %}
                    <a href="{% url 'organization_billing_change' request.organization.slug 'reset' %}" class="btn btn-primary">Downgrade</a> 
                {% else %}
                    <p>This is your current plan!</p>
                {% endif %}
                </div>
            </div>
        </article>
        <article class="col-md-4 {{ request.organization|get_active_plan_classes:'basic'}}">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Basic Plan</h1>
                    <p>Support the development of Organization.supply!</p>
                    {% if request.organization.subscription_type != "basic" %}
                        <a id="activate_stripe" class="btn btn-primary">Upgrade</a> 
                    {% else %}
                        <p>This is your current plan!</p>
                    {% endif %}
                </div>
            </div>
        </article>
        <article class="col-md-4 b--black-10">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">The biggest plan</h1>
                    <p><i>Currently under development.</i></p>
                    <a class="btn btn-primary">Contact via email</a>
                </div>
            </div>
        </article>
    </div>

    
</div>

<script>
    var stripe = Stripe('{{ stripe_publishable_key }}');

    $('#activate_stripe').click(function(){
        stripe.redirectToCheckout({
            sessionId: '{{stripe_session_id}}'
        }).then(function (result) {
            console.log(result.error.message);
        });
    })
</script>

{% endblock %}