{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Settings - Export{% endblock title %}

{% block content %}

<h1 class="mt-3">
    {{ request.organization.name }}
    <small class="text-muted">📤 Export</small>
</h1>
{% include 'organization/settings/settings_nav.html' %}

<h2>Export</h2>

<p>
    Use the link below to download each entity as seperate CSV files:
</p>
<ul>
    <li><a href="{% url 'organization_export_entity' request.organization.slug 'products' %}">Products</a></li>
    <li><a href="{% url 'organization_export_entity' request.organization.slug 'locations' %}">Location</a></li>
    <li><a href="{% url 'organization_export_entity' request.organization.slug 'inventory' %}">Inventory</a></li>
    <li><a href="{% url 'organization_export_entity' request.organization.slug 'mutations' %}">Mutations</a></li>
</ul>

{% endblock %}