{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Settings{% endblock title %}

{% block content %}

<h1 class="pl3">
    🛠️ Organization 
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_settings' request.organization.slug %}">Settings</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_users' request.organization.slug %}">Users</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_billing' request.organization.slug %}">Billing</a>
    <a class="f4 black fw6 underline-hover" href="{% url 'organization_integrations' request.organization.slug %}">Integrations</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_export' request.organization.slug %}">Export</a>
</h1>

<div class="fl w-100 w-50-m w-third-l ph3">
    <h1 class="f4 bold">External Services</h1>
    <p class="lh-copy">
        To be build...
    </p>
    <ul>
        <li>Woocommerce</li>
        <li>Shopify</li>
        <li>Magento</li>
        <li>Zapier</li>
        <li>Moneybird</li>
        <li>Others..</li>
    </ul>
</div>

{% endblock %}