{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Settings - Integrations{% endblock title %}

{% block content %}

<h1 class="mt-3">
    {{ request.organization.name }}
    <small class="text-muted">🔌 Integrations</small>
</h1>
{% include 'organization/settings/settings_nav.html' %}

<h2>External Services</h2>
<p>
    To be build...
</p>
<ul>
    <li>Woocommerce</li>
    <li>Shopify</li>
    <li>Magento</li>
    <li>Zapier</li>
    <li>Moneybird</li>
    <li>Others..</li>
</ul>

{% endblock %}