{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Settings{% endblock title %}

{% block content %}

<h1 class="mt-3">
    {{ request.organization.name }}
    <small class="text-muted">🛠️ Settings</small>
</h1>
{% include 'organization/settings/settings_nav.html' %}

<div class="col-md-4">
    <h1>Organization details</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="col-form-label" for="name">Name</label>            
            {{ organization_form.name }}
        </div>
        <div class="mb-3">
            <label class="col-form-label" for="description">Description</label>            
            {{ organization_form.description }}
        </div>
        <div class="mb-3">
            <label class="col-form-label" for="email-address">Contact Email</label>            
            {{ organization_form.contact_email }}
        </div>
        <div class="mb-3">
            <label class="col-form-label" for="currency">Currency</label>            
            {{ organization_form.currency }}
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Save organization details &raquo;">
        </div>
    </form>
</div>


{% endblock %}