{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Settings{% endblock title %}

{% block content %}

<h1 class="pl3 db cf">
    <span class="db dib-ns">🛠️ Organization </span>
    <a class="f4 black fw6 underline-hover" href="{% url 'organization_settings' request.organization.slug %}">Settings</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_users' request.organization.slug %}">Users</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_billing' request.organization.slug %}">Billing</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_integrations' request.organization.slug %}">Integrations</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_export' request.organization.slug %}">Export</a>
</h1>

<div class="fl w-100 w-50-m w-third-l ph3">
    <h1 class="f4 bold">Organization details</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt3">
            <label class="db fw6 lh-copy f6" for="email-address">Name</label>            
            {{ organization_form.name }}
        </div>
        <div class="mt3">
            <label class="db fw6 lh-copy f6" for="email-address">Contact Email</label>            
            {{ organization_form.contact_email }}
        </div>
        <div class="mt3">
            <input class="no-underline f6 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2" type="submit" value="Save details &raquo;">
        </div>
    </form>
</div>


{% endblock %}