{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Settings - Users{% endblock title %}

{% block content %}

<h1 class="mt-3">
    {{ request.organization.name }}
    <small class="text-muted">👩🏽‍💻 Users</small>
</h1>
{% include 'organization/settings/settings_nav.html' %}

<table class="table border" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 50px;">Image</th>
            <th>
                Name
                {% include "utils/order_by.html" with field='name' %}
            </th>
            <th>
                Email
                {% include "utils/order_by.html" with field='email' %}
            </th>
            <th>
                Status
                {% include "utils/order_by.html" with field='is_active' %}
            </th>
            <th>
                Last Login
                {% include "utils/order_by.html" with field='last_login' %}
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="lh-copy">
        {% for user in users %}
            <tr>
                <td class="">
                    <img class="avatar rounded" style="max-width: 40px;" alt="{{ user.name }}" src="{{ user.image.url }}" alt="">
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {% if user.is_active %}
                        <span class="green">Active</span>
                    {% else %}
                        <span class="orange">Invited</span>
                    {% endif %}
                </td>
                <td>
                    {% if user.last_login %}
                        {{ user.last_login }}
                    {% endif %}
                </td>
                <td>
                    {% if not user|is_organization_admin_in:request.organization %}
                        {% if user == request.user %}
                            <a class="no-underline f6 fw3 pa2 bg-animate bg-red hover-bg-dark-red white br2 dib b--none lh-copy" href="{% url 'organization_leave' request.organization.slug %}">
                                Leave
                            </a>
                        {% else %}
                            <a class="no-underline f6 fw3 pa2 bg-animate bg-red hover-bg-dark-red white br2 dib b--none lh-copy" href="{% url 'organization_remove_user' request.organization.slug %}?id={{ user.id }}">
                                {% if user.is_active %}
                                    Remove
                                {% else %}
                                    Cancel Invite
                                {% endif %}
                            </a>
                        {% endif %}
                        
                        
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="pl3 bb b--black-20" colspan="2">
                Invite someone by email:
            </td>
            <form action="{% url 'organization_invite_user' request.organization.slug %}" method="POST">
                <td colspan="3">
                    {% csrf_token %}
                    <input type="text" name="email" placeholder="invite@email.com" class="form-control" required="required" id="id_email">
                </td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Send invite">
                </td>
            </form>
        </tr>
    </tfoot>
</table>

{% endblock %}