{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Users{% endblock title %}

{% block content %}

<h1 class="pl3">
    🛠️ Organization 
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_settings' request.organization.slug %}">Settings</a>
    <a class="f4 black fw6 underline-hover" href="{% url 'organization_users' request.organization.slug %}">Users</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_integrations' request.organization.slug %}">Integrations</a>
</h1>
    

<div class="mh3 overflow-auto">
    <table class="f6 w-100 center b--light-silver br2 ba" cellspacing="0">
        <thead>
            <tr>
                <th class="fw6 bb b--black-20 tl pa3" style="width: 50px;">Image</th>
                <th class="fw6 bb b--black-20 tl pa2">Name</th>
                <th class="fw6 bb b--black-20 tl pa2">Email</th>
                <th class="fw6 bb b--black-20 tl pa2">Status</th>
                <th class="fw6 bb b--black-20 tl pa2">Last Login</th>
                <th class="fw6 bb b--black-20 tl pa2">Actions</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            {% for user in users %}
                <tr>
                    <td class="pl3 pa2 bb b--black-20">
                        <img class="br-pill h2 w2 dib" alt="avatar" src="{{ user.image.url }}" alt="">
                    </td>
                    <td class="pa2 bb b--black-20">
                        {{ user.name }}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {{ user.email }}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if user.is_active %}
                            <span class="green">Active</span>
                        {% else %}
                            <span class="orange">Invited</span>
                        {% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if user.last_login %}
                            {{ user.last_login }}
                        {% endif %}
                    </td>
                    <td class="pa2 bb b--black-20">
                        {% if not user|is_organization_admin_in:request.organization %}
                            {% if user == request.user %}
                                <a class="f6 link dim ba ph3 pv2 dib black" href="{% url 'organization_leave' request.organization.slug %}">
                                    Leave
                                </a>
                            {% else %}
                                <a class="f6 link dim ba ph3 pv2 dib black" href="{% url 'organization_remove_user' request.organization.slug %}?id={{ user.id }}">
                                    {% if user.is_active %}
                                        Remove
                                    {% else %}
                                        Cancel Invite
                                    {% endif %}
                                </a>
                            {% endif %}
                            
                            
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="pl3 bb b--black-20" colspan="2">
                    Invite someone by email:
                </td>
                <form action="{% url 'organization_invite_user' request.organization.slug %}" method="POST">
                    <td class="pv2 bb b--black-20" colspan="3">
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="invite@email.com" class="pa2 input-reset ba bg-transparent w-100" required="" id="id_email">
                    </td>
                    <td class="pl2 bb b--black-20">
                        <input class="ph3 pv2 input-reset ba b--black bg-transparent pointer f6 dim dib" type="submit" value="Invite">
                    </td>
                </form>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}