body{
    font-family: Arial, Helvetica, sans-serif;
}

  /* Better dropdown */
select{
    width: 100%;
    padding:10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-radius: .25rem;
    color: black;
    outline: none; 
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 10px center;
}

/*
  A method for display on hover that behaves like display: none;
  i.e. does not occupy space until hovered over
  while allowing transitions to still work.
  https://stackoverflow.com/a/3332179/149390 
*/
.hide-child-dn .child-dn {
  display: block;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

.hide-child-dn:hover .child-dn,
.hide-child-dn:focus .child-dn,
.hide-child-dn:active .child-dn {
  opacity: 1;
  height: auto;
  width: auto;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}
