{% extends "base.html" %}

{% block title %}{{ request.organization.name }} - Location{% endblock title %}

{% block content %}

<h1 class="text-center mt-3">
    Create a new location
</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form class="" action="" method="POST">
            {% csrf_token %}
            <label class="col-form-label" for="name">Name *</label>
            {{ form.name }}
            <label class="col-form-label" for="desc">Description</label>
            {{ form.desc }}
            <p class="text-muted">
                You will be able to add additional data and settings like notifications to the location once it is created.
            </p>
            <input class="btn btn-primary float-end" type="submit" value="Save location &raquo;">
        </form>
    </div>
</div>

{% endblock %}