{% extends "base.html" %}

{% load static %}

{% block title %}{{ request.organization.name }} - Location{% endblock title %}

{% block content %}

<h1 class="mt-3">
    📍
    <a class="text-decoration-none" href="{% url 'organization_locations' request.organization.slug %}">Locations</a>
    /
    {% if form.instance.name %}
        {{ form.instance.name|title }}
    {% else %}
        Add a location
    {% endif %}
    {% include 'utils/information.html' with id='location_edit' content="Edit all information about a location here"%}
</h1>

<form action="" method="POST" enctype="multipart/form-data"> 
    <div class="row mb-3">
    {% csrf_token %}
        <div class="col-md-4">
            <label class="col-form-label" for="name">Name *</label>
            {{ form.name }}
            <label class="col-form-label" for="desc">Description</label>
            {{ form.desc }}
        </div>
        <div class="col-md-4">
            <label class="col-form-label" for="desc">Image</label>
            <img class="mb-3" style="max-width: 100%;" src="{{ form.instance.image.url }}" alt="">
            {{ form.image }}
        </div>
        <div class="col-md-4">
            <label class="col-form-label" for="tags">Tags</label>
            {{ form.tags }}
            <label class="col-form-label" for="size">Size (m<sup>2</sup>)</label>
            {{ form.size }}
        </div>
    </div>

    <input class="btn btn-primary float-end" type="submit" value="Save location &raquo;">
</form>

{% include "utils/select2.html" with form=form %}

<style>
    .select2{
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
</style>

{% endblock %}