<footer class="fixed-bottom">
    <div class="container">
        <p class="text-center text-muted" style="font-size: 12px;">
              <a href="https://organization.supply" class="text-reset">Organization.supply</a> 
            - <a class="text-reset" href="https://status.organization.supply">Status</a>
            - <a class="text-reset" href="{% url 'help' %}">Help</a>
            - <a class="text-reset" href="{% url 'privacy' %}">Privacy Policy</a>
            - <a class="text-reset" href="{% url 'terms' %}">Terms of Service</a>
            - <a class="text-reset" href="{% url 'cookie_consent_cookie_group_list' %}">Cookies</a>
            {% if request.user.is_superuser %}
            - <a class="text-reset" href="{% url 'deck_index' %}">Deck</a>
            {% endif %}
        </p>
    </div>
</footer>

{% include "utils/mousetrap.html" %}

{% load cookie_consent_tags %}

{% if request|cookie_group_accepted:"analytics" %}
    {% include "utils/analytics.html" %}
{% endif %}

</body>
</html>