{% include "base_header.html" %}

{% include "utils/cookies.html" %}

{% if user.is_authenticated %}
  {% include "base_nav.html" %}
{% endif %}
    
<main class="container mb-5 pt-3">
  <!-- Messages -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert
        {% if message.tags == 'info' %}alert-info
        {% elif message.tags == 'warning' %}alert-warning
        {% elif message.tags == 'error' %}alert-danger
        {% elif message.tags == 'success' %}alert-success
        {% endif %}
        ">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <!-- Main content -->
  {% block content %}{% endblock %}
</main>

{% include "base_footer.html" %}
