<nav class="pa3 bg-near-white">

    {% if request.organization.name %}
    <div class="fl nt2 mr2">
        <h1 class="f4">{{ request.organization.name|title  }}</h1>
    </div>
    {% else %}
    <div class="dib nt2 mr2 nb2 pv0">
        <a href="{% url 'user_organizations' %}" class="near-black no-underline underline-hover"><h1 class="f4">Organization.supply</h1></a>
    </div>
    {% endif %}

    <!-- Organization links -->
    {% if request.organization.slug %}
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="{% url 'dashboard' request.organization.slug %}" title="Dashboard">Dashboard</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="{% url 'search' request.organization.slug %}" title="Dashboard">Search</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="{% url 'products' request.organization.slug %}" title="Producten">Products</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="{% url 'locations' request.organization.slug %}" title="Locaties">Locations</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="{% url 'inventory_location' request.organization.slug %}" title="Locaties">Inventory</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="{% url 'mutations' request.organization.slug %}" title="Transacties">Transactions</a>
    {% endif %}

    
    <div class="fr hide-child dib pl3 nt2">
        {% if request.user.image %}
            <img class="br-pill h2 w2 mt2 dib" alt="avatar" src="{{ request.user.image.url }}" alt="">
        {% elif request.user.name %}
            <span class="link mid-gray db f6 f5-ns pa2 mv2">{{ request.user.name }}</span>
        {% else %}
            <span class="link mid-gray db f6 f5-ns pa2 mv2">{{ request.user.email }}</span>
        {% endif %}
        
        <div class="child absolute tr bg-near-white pt3 ph2" style="right: 0px;">
            <a class="link dim mid-gray db f6 f5-ns pa2" href="{% url 'user_organizations' %}" title="Organizations">Organizations</a>    
            <a class="link dim mid-gray db f6 f5-ns pa2" href="{% url 'user_settings' %}" title="Settings">Settings</a>    
            <a class="link dim mid-gray db f6 f5-ns pa2" href="{% url 'logout' %}" title="Logout">Logout</a>  
        </div>
    </div>

    {% if request.organization.slug %}
        <a class="link dim mid-gray fr f6 f5-ns dib mh2 mv2" href="{% url 'organization_settings' request.organization.slug %}" title="Settings">Organization Settings</a>
    {% endif %}
    
</nav>