<footer class="fixed left-0 bottom-0 right-0 pa1 pa1 tc bg-white">
    <div class="dt dt--fixed w-100">
        <div class="dn dtc-ns v-mid">
            <p class="f7 black dib pr3 mb3">
                <a href="https://organization.supply" class="link bw1 gray">Organization.supply</a> 
                - <a class="link bw1 gray" href="{% url 'help' %}">Help</a>
                - <a class="link bw1 gray" href="{% url 'privacy' %}">Privacy Policy</a>
                - <a class="link bw1 gray" href="{% url 'terms' %}">Terms of Service</a>
            </p>
        </div>
    </div>
</footer>

{% include "mousetrap.html" %}
{% include "analytics.html" %}

</body>
</html>