<nav class="pa3 pa4-ns">
    <!-- Left -->
    <a class="link dim gray    f6 f5-ns dib mh2 mv2" href="/dashboard" title="Dashboard">Dashboard</a>
    <a class="link dim gray    f6 f5-ns dib mh2 mv2" href="/products" title="Producten">Products</a>
    <a class="link dim gray    f6 f5-ns dib mh2 mv2" href="/locations" title="Locaties">Locations</a>
    <a class="link dim gray    f6 f5-ns dib mh2 mv2" href="/inventory/location" title="Locaties">Inventory</a>
    <a class="link dim gray    f6 f5-ns dib mh2 mv2" href="/mutations" title="Transacties">Transactions</a>

    <!-- Right -->
    <a class="link dim gray fr f6 f5-ns dib mh2 mv2" href="/accounts/logout" title="Logout">Logout</a>
    <a class="link dim gray fr f6 f5-ns dib mh2 mv2" href="/user/settings" title="Settings">Settings</a>
</nav>