{% extends "base.html" %}

{% block title %}Organization.supply - Help{% endblock title %}

{% block content %}

<h1 class="ph3 db">
    💁🏽 Help!
</h1>

<div class="mh3 overflow-auto w-50">
    <h3>Guide</h3>

    <p class="lh-copy">More help is underway! A guide on how to use Organization.supply will be available shortly!</p>

    <p>By the way, did you know you can turn on the tour again if you disabled that in the <a href=" {% url 'user_settings' %}">user settings</a>?</p>
    
    <h3>Contact</h3>

    <p class="lh-copy">
        Feel free to contact met at <a href="mailto:joost@organization.supply">joost@organization.supply</a> with any suggestions/ideas or otherwise! 
        If you do have a feature request or found a bug, consider creating it on Github, this speeds up the process considerably! If you 
        don't want to create a Github account, than feel free to email me anyway!
    </p>

    <h3>Feature requests & bugs</h3>

    <p class="lh-copy">Both feature requests and bugs can be <a href="https://github.com/jplattel/organization.supply/issues">created on Github</a>. This helps us to keep everything organized.</p>
    

</div>



{% endblock %}