{% extends "base.html" %}

{% block title %}Inventory - Products{% endblock title %}

{% block content %}

    <h1>
        📦 {{ product.name|title }}
        <a class="f6 link dim ba ph3 fr pv2 mb2 dib black" href="{% url 'product_edit' product.id %}">Edit</a>
    </h1>

    <article class="cf">
        <div class="fl w-100 w-50-l">
            <h3>Description</h3>
            <p class="f4 bg-near-white br3 black-60 mv0 pv2 ph3">
                {{ product.desc }}
            </p>            
            <h3>
                Inventory
            </h3>
            {% if inventories %}
            <div class="fl w-100 pa2">
                <div class="overflow-auto">
                    <table class="f6 w-100 center" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Amount</th>
                                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Location</th>
                            </tr>
                        </thead>
                        <tbody class="lh-copy">
                            {% for inventory in inventories %}
                            <tr>
                                {{ total|add:inventory.amount }}
                                <td class="pv3 bb b--black-20">{{ inventory.amount }}</td>
                                <td class="pv3 bb b--black-20">
                                    <a href="{% url 'location_view' inventory.location.id %}">
                                        {{ inventory.location.name }}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="fw6 pv3 bb b--black-20 tl pr3 bg-white">
                                    {{ product_total.amount__sum }}
                                </th>
                                <th class="fw6 pv3 bb b--black-20 tl pr3 bg-white">
                                    Total
                                </th>
                            </tr>          
                        </tfoot>
                    </table>
                </div>
            </div>
            {% else %}
            <p>No inventory found for this product.</p>
            {% endif %}
        </div>
        <div class="fl w-100 w-50-l"> 
                <h3>Transaction history</h3>
                <table class="f6 w-100 center" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="fw6 bb b--black-20 tl pt3 pr3 pb3 bg-white">Date</th>
                            <th class="fw6 bb b--black-20 tl pa3 bg-white">Amount</th>
                            <th class="fw6 bb b--black-20 tl pa3 bg-white">Location</th>
                            <th class="fw6 bb b--black-20 tl pa3 bg-white">User</th>
                        </tr>
                    </thead>
                    <tbody class="lh-copy">
                        {% for mutation in mutations %}
                        <tr>
                            <td class="pt3 pr3 pb3 bb b--black-20">
                                {{ mutation.created|date:"Y-m-d" }}
                            </td>
                            <td class="pa3 bb b--black-20">
                                {% if mutation.operation == 'remove' %}
                                    {{ mutation.amount }}
                                {% else %}
                                    +{{ mutation.amount }}
                                {% endif %}
                            </td>
                            <td class="pa3 bb b--black-20">
                                <a href="{% url 'location_view' mutation.location.id %}">{{ mutation.location.name }}</a>
                            </td>
                            <td class="pa3 bb b--black-20">
                                {% if mutation.user.first_name %}
                                    {{ mutation.user.first_name }} {{ mutation.user.last_name }}
                                {% else %}
                                    {{ mutation.user.username }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </article>
        
{% endblock %}