{% extends "base.html" %}

{% block title %}Organization.supply - Deck{% endblock title %}

{% block content %}

<h1 class="mt-3">
    Deck <span class="badge badge-info">({{ organizations.count }} organizations)</span>
</h1>

<table class="table border" cellspacing="0">
    <thead>
        <tr>
            <th>Date (created)</th>
            <th>Organization</th>
            <th>Plan</th>
            <th>Email</th>
            <th>Users</th>
            <th>Stats</th>
        </tr>
    </thead>
    <tbody>
        {% for organization in organizations %}
        <tr>
            <td>
                {{ organization.created|date:"Y-m-d" }}
            </td>
            <td>
                {{ organization.name }} 
            </td>
            <td>
                {{ organization.subscription_type }} 
            </td>
            <td>
                <a href="mailto:{{ organization.contact_email }} ">{{ organization.contact_email }} </a>
            </td>
            <td>
                {{ organization.users.count }}
            </td>
            <td>
                <p>
                    Products: {{ organization.stats.product_count }}</br>
                    Location: {{ organization.stats.location_count }}</br>
                    Mutations: {{ organization.stats.mutation_count }}
                </p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}