{% extends "base.html" %}

{% load extra_filters %}

{% block title %}{{ request.organization.name }} - Settings{% endblock title %}

{% block content %}

<h1 class="pl3">
    🛠️ Organization 
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_settings' request.organization.slug %}">Settings</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_users' request.organization.slug %}">Users</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_billing' request.organization.slug %}">Billing</a>
    <a class="f4 black fw6 underline-hover" href="{% url 'organization_integrations' request.organization.slug %}">Integrations</a>
    <a class="f4 black fw6 no-underline underline-hover" href="{% url 'organization_export' request.organization.slug %}">Export</a>
</h1>

<div class="fl w-two-thirds">
    <h1 class="f4 bold">Map {{ entity_name }} with {{ adapter.service_name }}</h1>

    <p class="lh-copy">
        To synchronize inventory with {{ adapter.service_name }}. You will need to map each
        {{ entity_name }} in Organization.supply with a {{ entity_name }} in {{ adapter.service_name }}.
        After mapping, we can keep track of inventory automatically.
    </p>

    <form action="" method="POST">
    {% if mapper.entities_local %}
        {% for entity_local in mapper.entities_local%}
        <div class="br3 pa3 mv3 ba b--black-10">
            <div class="flex justify-center">
                <div class="w-40">
                    <div class="ba br2 b--black" style="padding: 10px">
                    {% if entity_local.url %}
                        <a class="black no-underline href="{{ entity_local.url }}">{{ entity_local.name }}</a>
                    {% else %}
                        {{ entity_local.name }}
                    {% endif %}
                    </div>
                </div>
                <div class="w-20 tc f2">
                    ⇆
                </div>
                <div class="w-40">
                    <select name="{{ entity_local.id }}" id="">
                        <option value="">— (do not map this product)</option>
                        {% for entity_external in mapper.entities_external%}
                            <option value="{{ entity_external.id }}" {% if entity_local.external_service_id == entity_external.id %}selected{% endif %}>{{ entity_external.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="flex justify-center mt2">
                <div class="w-50 mid-gray i">
                    {{ request.organization.name }} (organization.supply)
                </div>
                <div class="w-50 tr mid-gray i">
                    {{ adapter.service_name }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No {{ entity_name }} to map. Import from  {{ adapter.service_name }} with the form below</p>
    {% endif %}
        <input class="no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer" type="submit" value="Save mappings">
    </form>
</div>

<div class="fl w-third ph3">
    <h3>Import from {{ adapter.service_name }}</h3>

    <p class="lh-copy">
        If the any of the {{ entity_name }} do not yet exist in Organization.supply you can choose to import 
        the selected one with a click!
    </p>

    <form action="{% url 'organization_integration_map_entities__import' request.organization.slug adapter.service_id entity_name %}" method="POST">
    {% csrf_token %}
    <select class="pv3" name="external_service_id" id="">
        {% for entity_external in mapper.entities_external%}
            <option value="{{ entity_external.id }}">{{ entity_external.name }}</option>
        {% endfor %}
    </select>

    <input class="mt3 no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer" type="submit" value="Import">

</form>
</div>

{% endblock %}