{% load static %}
{% load cookie_consent_tags %}

{% if request|cookie_consent_enabled %}
    {% not_accepted_or_declined_cookie_groups request as cookie_groups %}
    {% if cookie_groups %}

    {% url "cookie_consent_cookie_group_list" as url_cookies %}
    {% cookie_consent_accept_url cookie_groups as url_accept %}
    {% cookie_consent_decline_url cookie_groups as url_decline %}
        <div id="cookie_bar" class="fixed left-0 bottom-0 right-0 flex items-center justify-center pa4 bg-lightest-blue navy">
            
            This site uses cookies for better performance and user experience. Do you agree to use cookies?
            
            <form class="cookie-consent-accept" action="{{ url_accept }}" method="POST">
                <input id="cookie_accept" type="submit" class="ml2 f6 mv2 hover-bg-green hover-white b--green pointer br-pill ba bw2 ph3 pv1 mb2 dib green" value="Accept">
                {% csrf_token %}
            </form>
            
            <form class="cookie-consent-decline" action="{{ url_decline }}" method="POST">
                <input id="cookie_decline" type="submit" class="ml2 f6 mv2 hover-bg-red hover-white b--red pointer br-pill ba bw2 ph3 pv1 mb2 dib red" value="Decline">
                {% csrf_token %}
            </form>
        </div>

        <script>
            $(document).ready(function() {

                // Accept cookie function
                $("#cookie_accept").click(function(e) {
                    e.preventDefault() // Dont submit the form
                    $.ajax({
                        type: 'POST',
                        url: '{{ url_accept }}',
                        success: function(msg) {
                            $("#cookie_bar").hide();
                        }
                    });
                })
                
                // Decline cookie function
                $("#cookie_decline").click(function(e) {
                    e.preventDefault() // Dont submit the form
                    $.ajax({
                        type: 'POST',
                        url: '{{ url_decline }}',
                        success: function(msg) {
                            $("#cookie_bar").hide();
                        }
                    });
                })
            })
        </script>
    {% endif %}
{% endif %}