
{% if request.user.show_information_tooltips %}
<span class="bn ph2 b br-100 v-mid bg-moon-gray hover-bg-gray i white f5 lh-title tippy mb2 dib" id="tippy-{{id}}" data-tippy-content="{{ content }}">
    i
</span>

<script>

const instance = tippy('#tippy-{{ id }}',{
    theme: 'light',
    duration: 500,
    arrow: false,
    delay: [0, 0],
    placement: '{% if placement %}{{ placement }}{% else %}right{% endif %}',
    // hideOnClick: false, // For debugging..
    // trigger: 'click', // For debugging..
});

</script>

<style>
.tippy-tooltip.light-theme {
  padding: 5px;
  margin: 10px;
  margin-top: px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #aaa;
  background-color: white!important;
  z-index: 100
}

/* Portrait and Landscape */
@media only screen and (max-device-width: 480px) {
  .tippy-tooltip.light-theme {
    top: 0px;
    left: 0px;
    position: relative;
    z-index: 100;
    transform: none;
  }  
}
</style>
{% endif %}