{% extends "base.html" %}

{% block title %}Inventory - Inventory{% endblock title %}

{% block content %}

<h1>Inventory</h1>
<div class="fl w-20">
    <p>Group inventory by: </p>
    <ul class="list pl0 mt0 ba mr1 b--light-silver br2">
        <li class="ph3 pv3 bb b--light-silver">Location</li>
        <li class="ph3 pv3 bb b--light-silver">Product</li>
    </ul>
</div>
<div class="fl w-80 pa2">
<div class="overflow-auto">
        <table class="f6 w-100 center" cellspacing="0">
            <thead>
                <tr>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Location</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Inventory</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
                <tr>
                    <td class="pv3 bb b--black-20">Neude 0</td>
                    <td class="pv3 bb b--black-20">test</td>
                </tr>
                <tr>
                    <td class="pv3 bb b--black-20">Woudrichem</td>
                    <td class="pv3 bb b--black-20">test</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}