{% extends "base.html" %}

{% block title %}Inventory - Transactions{% endblock title %}

{% block content %}

<h1>🧮 Transactions</h1>

<form method="POST" action="{% url 'mutation_insert' %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>

<div class="overflow-auto">
    <table class="f6 w-100 center" cellspacing="0">
        
        <thead>
            <tr>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Amount</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Product</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Location</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Description</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            {% for mutation in mutations %}
                <tr>
                    <td class="pt2 pr3 bb b--black-20">
                        {% if mutation.operation == 'remove' %}
                            -{{ mutation.amount }}
                        {% else %}
                            {{ mutation.amount }}
                        {% endif %}
                    </td>
                    <td class="pt2 pr3 bb b--black-20">
                        {{ mutation.product.name }}
                    </td>
                    <td class="pt2 pr3 bb b--black-20">
                        {{ mutation.location.name }}
                    </td>
                    <td class="pt2 pr3 bb b--black-20">
                        {{ mutation.desc }}
                    </td>      
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}