{% extends "base.html" %}

{% block title %}Inventory - Transactions{% endblock title %}

{% block content %}

<h1 class="ph3">🧮 Transactions</h1>

<div class="mh3 overflow-auto">
    <table class="f6 w-100 center" cellspacing="0">
        <thead>
            <tr>
                <th class="fw6 bb b--black-20 tl pt3 pr3 pb3 bg-white">Date</th>
                <th class="fw6 bb b--black-20 tl pa3 bg-white">Amount</th>
                <th class="fw6 bb b--black-20 tl pa3 bg-white">Product</th>
                <th class="fw6 bb b--black-20 tl pa3 bg-white">Location</th>
                <th class="fw6 bb b--black-20 tl pa3 bg-white" colspan="2">Description</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            <tr>
                <form method="POST" id="mutation_form" action="{% url 'mutation_insert' %}">
                    <fieldset class="ba b--transparent ph0 mh0 mb1">
                        <td class="pt3 pr3 pb3 bb b--black-20">
                            {% now "Y-m-d" %}
                            {% csrf_token %}
                        </td>
                        <td class="pa3 bb b--black-20">
                            {{ form.amount }}
                        </df>
                        <td class="pa3 bb b--black-20">
                            {{ form.product }}
                        </td>
                        <td class="pa3 bb b--black-20">
                            {{ form.location }}
                        </td>
                        <td class="pa3 bb b--black-20">
                            {{ form.desc }}
                        </td>
                        <td class="pa3 bb b--black-20">
                            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Save Transaction">
                        </td>
                    </fieldset>
                </form>
            </tr>

            {% for mutation in mutations %}
                <tr>
                    <td class="pt3 pr3 pb3 bb b--black-20">
                        {{ mutation.created|date:"Y-m-d h:i:s" }}
                    </td>
                    <td class="pa3 bb b--black-20">
                        {% if mutation.operation == 'add' %}+{% endif %}{{ mutation.amount }}
                    </td>
                    <td class="pa3 bb b--black-20">
                        <a href="{% url 'product_view' mutation.product.id %}">{{ mutation.product.name }}</a>
                    </td>
                    <td class="pa3 bb b--black-20">
                        <a href="{% url 'location_view' mutation.location.id %}">{{ mutation.location.name }}</a>
                    </td>
                    <td class="pa3 bb b--black-20" colspan="2">
                        {{ mutation.desc }}
                    </td>      
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>

#id_desc{
    display: inline-block;
    height: 37px;
    font-family: inherit;
    font-size: 100%;
    line-height: 150%;
    margin-top: 5px;
    /* margin-bottom: -4px; */
}
</style>
{% endblock %}