{% extends "base.html" %}

{% block title %}Inventory - Products{% endblock title %}

{% block content %}

<h1>
    Products
    <a class="f6 link dim ba ph3 pv2 mb2 dib black fr" href="#0">Add a product</a>
</h1>

<div class="overflow-auto">
    <table class="f6 w-100 center" cellspacing="0">
        <thead>
            <tr>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white" width="400px">Actions</th>
            </tr>
        </thead>
        <tbody class="lh-copy">
            <tr>
                <td class="pt2 pr3 bb b--black-20">Nooit Op</td>
                <td class="pt2 pr3 bb b--black-20">
                    <a class="f6 link dim ba ph3 pv2 mb2 dib black" href="#0">Edit</a>
                    <a class="f6 link dim ba ph3 pv2 mb2 dib black" href="#0">Delete</a>
                </td>
            </tr>
            <tr>
                <td class="pt2 pr3 bb b--black-20">Nooit Genoeg</td>
                <td class="pt2 pr3 bb b--black-20">
                    <a class="f6 link dim ba ph3 pv2 mb2 dib black" href="#0">Edit</a>
                    <a class="f6 link dim ba ph3 pv2 mb2 dib black" href="#0">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}