body{
    font-family: Arial, Helvetica, sans-serif;
}

  /* Better dropdown */
select{
    width: 100%;
    padding:10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-radius: .25rem;
    color: black;
    outline: none; 
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 10px center;
}