body{
    font-family: Helvetica, Arial, sans-serif;
}

  /* Better dropdown */
select:not(#id_tags){
    width: 100%;
    padding: 6px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 10px center;
    padding-right: 20px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select2-container--default .select2-selection--multiple {
  border: 0px!important;
}

/*
  A method for display on hover that behaves like display: none;
  i.e. does not occupy space until hovered over
  while allowing transitions to still work.
  https://stackoverflow.com/a/3332179/149390 
*/
.hide-child-dn .child-dn {
  display: block;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

.hide-child-dn:hover .child-dn,
.hide-child-dn:focus .child-dn,
.hide-child-dn:active .child-dn {
  opacity: 1;
  height: auto;
  width: auto;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

a.navbar-tenant{
  text-decoration: none;
  font-weight: bold;
  color: white;
}


.tippy{
  margin-top: -10px;
  background-color: grey;
  font-style: italic;
  font-family: serif;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 11px;
  padding-right: 11px;

  vertical-align: middle;
  font-size: 25px;
  border-radius: 20px;
}