
{% extends "base.html" %}

{% load extra_filters %}

{% block title %}User - Organizations{% endblock title %}

{% block content %}

<h1 class="ph3 tc">
    Organizations
    {% include 'utils/information.html' with id='user-organization' content="This is a list of organizations you are a member of." %}
</h1>

<div class="mh3 measure center">
    {% if organizations %}
        {% for organization in organizations %}
            <article class="br2 ba dark-gray b--black-10 mv4 w-100">
                <div class="pa2 ph3-ns pb3-ns">
                    <div class="dt w-100 mt1">
                        <div class="dtc">
                            <h1 class="f5 f4-ns mv1">{{ organization.name|title }}</h1>
                            <span class="f6 lh-copy measure mid-gray">
                                <a href="{% url 'organization_dashboard' organization.slug %}">Dashboard</a>
                                | <a href="{% url 'organization_notifications' organization.slug %}">Notifications</a>
                                | <a href="{% url 'organization_settings' organization.slug %}">Settings</a>
                            </span>

                            <span class="f6 lh-copy measure mid-gray fr">
                                <a href="{% url 'organization_leave' organization.slug %}">Leave</a>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <article class="br2 ba dark-gray b--black-10 mv4 w-100 w-50-m w-50-l">
            <div class="pa2 ph3-ns">
                <p class='lh-copy'>
                    You currently don't have any organizations. 
                    You can <a href="{% url 'create_organization' %}">create an organization</a> or 
                    ask a collegue to invite you with your email: 
                    <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a>. 
                    Organizations you are invited will be listed here.
                </p>
                <p class="lh-copy">
                    In case you are in need of help, feel free to browse the reference page or email
                    <a href="mailto:jsplattel@gmail.com">jsplattel@gmail.com</a> with any questions you might have.
                </p>
            </div>
        </article>
    {% endif %}
    
    <!-- Link to add organization form  -->
    <article class="br2 mv4 w-100">
        
            <a class="no-underline f6 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2" href="{% url 'create_organization' %}">Create a new organization</a>
        
    </article>

</div>

{% endblock %}