{% extends "base.html" %}

{% load staticfiles %}

<title>{% block title %}Organization.supply - Settings{% endblock %}</title>

{% block content %}

<h1 class="pl3">
    🛠️ Settings
    {% include 'utils/information.html' with id='user-settings' content="These are your personal settings and are shared across all organizations that you are a member of." %}
</h1>

<div class="fl w-100 w-50-m w-third-l ph3">
    <h1 class="f4 bold">Profile</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt3">
            <label class="db fw6 mb1 lh-copy f6" for="name">Name</label>
            {{ user_form.name }}
        </div>
        <div class="mt3">
            <label class="db fw6 mb1 lh-copy f6" for="image">Profile Image</label>
            {{ user_form.image }}
        </div>
    
        <div class="mt2">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Save profile">
        </div>
    </form>
</div>

<div class="fl w-100 w-50-m w-third-l ph3">
    <h1 class="f4 bold">Keyboard shortcuts</h1>

    <p class="lh-copy">
        We support shortcuts for most pages. They work the same way like gmail. 
        So pressing <code class="pa1 br1 bg-light-blue">g d</code> in sequence navigates you towards dashboard. The entire list is below:
    </p>

    <ul class="lh-copy">
        <li><code class="pa1 br1 bg-light-blue">g d</code> or <code class="pa1 br1 bg-light-blue">g h</code>: Dashboard</li>
        <li><code class="pa1 br1 bg-light-blue">g p</code>: Products</li>
        <li><code class="pa1 br1 bg-light-blue">g l</code>: Locations</li>
        <li><code class="pa1 br1 bg-light-blue">g i</code>: Inventory</li>
        <li><code class="pa1 br1 bg-light-blue">g s</code>: Transaction</li>

        <li><code class="pa1 br1 bg-light-blue">s s</code>: Shortcut to adding a sale</li>
        <li><code class="pa1 br1 bg-light-blue">s m</code>: Shortcut for moving inventory</li>

    </ul>
</div>


<div class="fl w-100 w-50-m w-third-l ph3">
    <h1 class="f4 bold">API keys</h1>

    <p class="lh-copy">
        <i>Documentation for the API will be up shortly!</i> 
        For access to our API you will need an API-key. Here's your personal one:
    </p>
    <div class="mt3">
        <label class="db fw6 mb1 lh-copy f6" for="api-key">API Key</label>
        <input type="text" name="api-key" value="{{ token }}" placeholder="API Key" class="pa2 input-reset ba bg-transparent w-100" required="" id="api-key">
    </div>
</div>

{% endblock %}