{% extends "base.html" %}

{% load staticfiles %}

<title>{% block title %}Organization.supply - Settings{% endblock %}</title>

{% block content %}

<h1 class="py-3">
    🛠️ Settings
    {% include 'utils/information.html' with id='user-settings' content="These are your personal settings and are shared across all organizations that you are a member of." %}
</h1>

<div class="row pb-4">
    <div class="col-sm">
        <h2 >Profile</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="col-form-label" for="name">Name</label>
                {{ user_form.name }}
            </div>
            <div class="mb-3">
                <label class="col-form-label" for="image">
                    Profile Image
                    <span class="">(<a id="clearProfilePicture" href="#">clear</a>)</span>
                </label>
                {{ user_form.image }}
            </div>

            <div class="mb-3">
                <label class="col-form-label" for="image">Information tooltips</label>
                <label for="">
                    {{ user_form.show_information_tooltips }}
                    Show information tooltips like these:
                    <span class="" id="tippy-{{id}}" data-tippy-content="{{ content }}">
                        i
                    </span>                
                </label>
            </div>

            <div class="mb-2">
                <input class="btn btn-primary" type="submit" value="Save profile">
            </div>
        </form>
        

        <h2 class="f4 bold pt3">Change Password</h2>
        <form action="{% url 'settings_change_password' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label class="col-form-label" for="image">
                    Current password
                    <span class="red f5">*</span>
                </label>    
                <input type="password" name="old_password" placeholder="Your current password" class="form-control" required="" id="old_password_id">
            </div>

            <div class="mb-3">
                <label class="col-form-label" for="image">
                    New password
                    <span class="red f5">*</span>
                </label>    
                <input type="password" name="new_password1" placeholder="A new password" class="form-control" required="" id="new_password1_id">
            </div>

            <div class="mb-3">
                <label class="col-form-label" for="image">
                    New password (confirmation)
                    <span class="red f5">*</span>
                </label>    
                <input type="password" name="new_password2" placeholder="Confirm your new password" class="form-control" required="" id="new_password2_id">
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Change password">
            </div>
        </form>
    </div>

    <div class="col-sm">
        <h2>Keyboard shortcuts</h2>

        <p>
            We support shortcuts for most pages. They work the same way like gmail. 
            So pressing <code>g d</code> in sequence navigates you towards dashboard. The entire list is below:
        </p>

        <ul>
            <li><code class="pa1 br1 bg-light-blue">g d</code> or <code class="pa1 br1 bg-light-blue">g h</code>: Dashboard</li>
            <li><code class="pa1 br1 bg-light-blue">g p</code>: Products</li>
            <li><code class="pa1 br1 bg-light-blue">g l</code>: Locations</li>
            <li><code class="pa1 br1 bg-light-blue">g i</code>: Inventory</li>
            <li><code class="pa1 br1 bg-light-blue">g s</code>: Transaction</li>
            <li><code class="pa1 br1 bg-light-blue">g n</code>: Notifications</li>

            <li><code class="pa1 br1 bg-light-blue">s s</code>: Shortcut to adding a sale</li>
            <li><code class="pa1 br1 bg-light-blue">s m</code>: Shortcut for moving inventory</li>
        </ul>
    </div>


    <div class="col-sm">
        <h2>API keys</h2>

        <p>
            For access to our API you will need an API-key. Here's your personal one:
        </p>
        <div class="mb-3">
            <label class="col-form-label" for="api-key">API Key</label>
            <input type="text" name="api-key" value="{{ token }}" placeholder="API Key" class="form-control" required="" id="api-key">
        </div>
        <p>
            Have a look at <a href="http://organization.supply/api/">the documentation</a> to see which endpoints are available to you!
        </p>
    </div>
</div>

{% endblock %}