<footer class="bg-near-white pb3">
    <div class="pa3 mw9 center cf">
        <div class="w-100 w-33-ns fl">
            <h4>Organization.supply</h4>
            <a href="https://app.organization.supply/user/signup" class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 pointer b--none">
                Login
            </a>
            <a href="https://app.organization.supply/user/signup" class="no-underline f6 ml2 fw3 pa2 bg-animate bg-orange hover-bg-red white br2 pointer b--none">
                Signup
            </a>
        </div>
        <div class="w-100 w-33-ns fl">
            <h4>Menu</h4>
            <ul class="list pl0 lh-copy">
                <li><a class="link dim mid-gray f6 f5-ns dib" href="/features">Features</a></li>
                <li><a class="link dim mid-gray f6 f5-ns dib" href="/pricing">Pricing</a></li>
                <li><a class="link dim mid-gray f6 f5-ns dib" href="/posts">Blog</a></li>
                <li><a class="link dim mid-gray f6 f5-ns dib" href="/contact">Contact</a></li>
                <li><a class="link dim mid-gray f6 f5-ns dib" href="/api">API Documentation</a></li>
                <li><a class="link dim mid-gray f6 f5-ns dib" href="https://github.com/jplattel/organization.supply">Github</a></li>
            </ul>
        </div>
        <div class="w-100 w-33-ns fl">
            <h4>Contact</h4>

            <p>Say <a href="mailto:jsplattel@gmail.com">hi!</a></p>
        </div>
    </div>

    <hr class="w-50">
</footer>