<footer class="bg-near-white pb3">
    <div class="pa3 mw9 center cf">
        <div class="w-100 w-33-ns fl">
            <div class="pa2">
                <h4>Organization.supply</h4>
                
                <div class="db pb2">
                    <a href="https://app.organization.supply/user/signup" class="mr2 no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 pointer b--none">
                        Login
                    </a>
                    <a href="https://app.organization.supply/user/signup" class="no-underline f6 fw3 pa2 bg-animate bg-orange hover-bg-red white br2 pointer b--none">
                        Signup
                    </a>
                </div>

                <ul class="list pl0 lh-copy">
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="https://app.organization.supply/terms">Terms of Service</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="https://app.organization.supply/privacy">Privacy Policy</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="https://app.organization.supply/help">Documentation</a></li>
                </ul>
            </div>
        </div>
        <div class="w-100 w-33-ns fl">
            <div class="pa2">
                <h4>Menu</h4>
                <ul class="list pl0 lh-copy">
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="/features">Features</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="/pricing">Pricing</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="/posts">Blog</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="/contact">Contact</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="/api">REST API</a></li>
                    <li><a class="link dim mid-gray f6 f5-ns dib" href="https://github.com/jplattel/organization.supply">Github</a></li>
                </ul>
            </div>
        </div>
        <div class="w-100 w-33-ns fl">
            <div class="pa2">
                <h4>Contact</h4>

                <!-- modify this form HTML and place wherever you want your form -->
                <form action="https://formspree.io/xdoobqoq" method="POST">
                    <label class="db fw6 lh-copy f6 mt3" for="_replyto">
                        Your email:
                        <input class="pa2 input-reset ba b--black-20 br2 bg-white w-100" type="text" name="_replyto">
                    </label>
                    <label class="db fw6 lh-copy f6 mt3">
                        Your message:
                        <textarea class="pa2 input-reset ba b--black-20 br2 bg-white w-100" name="message"></textarea>
                    </label>
                    <button class="mt2 no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 pointer b--none" type="submit">Send message &raquo;</button>
                </form>
            </div>
        </div>
    </div>

    <hr class="w-50">
</footer>