<nav class="pa3 bg-near-white fixed w-100">
    <img src="/images/logo/organization-supply-logo-no-border.png" alt="Organization.supply" style="width: 15px; margin-top: 3px; margin-right: 10px"/>

    <div class="dib">
        <a class="near-black no-underline underline-hover" href="">
            <h1 class="f4 mv1">Organization.supply</h1>
        </a>
    </div>

    <div class="dn di-ns">
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="/">Home</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="/features">Features</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="/pricing">Pricing</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="/posts">Blog</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="/about">About</a>
        <a class="link dim mid-gray f6 f5-ns dib mh2 mv2" href="/contact">Contact</a>
    </div>

    <div class="dib fr pa2">
        <a href="https://app.organization.supply/user/signup" class="no-underline f6 fw3 pa2 bg-animate bg-blue hover-bg-dark-blue white br2 pointer b--none">
            Login
        </a>
        <a href="https://app.organization.supply/user/signup" class="no-underline f6 ml2 fw3 pa2 bg-animate bg-orange hover-bg-red white br2 pointer b--none">
            Signup
        </a>
    </div>
</nav>