<!-- Intro -->
<header>
    <div class="cover bg-left bg-center-l " style="background-image: url(http://mrmrs.github.io/photos/u/011.jpg)">
      <div class="bg-black-80 pv6">
        <div class="tc-l ph3">
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Inventory management made simple</h1>
          <h2 class="fw1 f3 white-80 mt3 mb4">Keeping track shouldn't be a hassle, we strive to automate!</h2>
          <a class="no-underline f5 fw3 pa3 bg-animate bg-orange hover-bg-dark-red white br2 pointer b--none" href="https://app.organization.supply/user/signup">Signup</a>
          <a class="no-underline f5 fw3 pa3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer b--none" href="/pricing">See the pricing</a>
        </div>
      </div>
    </div> 
</header>